.text-input-area-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 300px;
  margin: 10px;
}
.text-input-textarea {
  width: 100%;
  height: 350px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #f0f7ff;
  resize: vertical;
  box-sizing: border-box;
  transition: border-color 0.2s ease-in-out;
}
.text-input-textarea:focus {
  outline: none;
  border-color: #e6effa;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}
.text-input-textarea::placeholder {
  color: #aaa;
  font-size: large;
}
.text-input-diff {
  height: 350px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #f0f7ff;
}

.text-input-diff span.delete {
  color: red;
}

.text-input-diff span.insert {
  color: green;
  font-weight: bold;
}
